@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        This content is displayed only if the user is Authorized

        @if (@context.User.IsInRole(Consts.AdminRole))
        {
           <h1>You have <b>Admin</b> role</h1>
        }

    </Authorized>
    <NotAuthorized>
        This content is displayed if the user is Not Authorized
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
            <span class="oi oi-power-standby" aria-hidden="true"></span> Logout 
        </NavLink>
    </Authorized>
</AuthorizeView>