html {
    height: 100%;
}

body {
    height: 100%;
}

.page {
    height: 100%;
}

/* Login and register */
.identity{
    font-family: 'Roboto','Helvetica','Arial','sans-serif';
    background: #247363 !important;
    overflow: hidden;
}

::selection{
    background: rgba(26,188,156,0.3);
}

.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

.wrapper .title{
    height: 60px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form{
    padding: 30px 25px 25px 25px;
}

.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input, .wrapper form .row button{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder{
    color: #999;
}

.wrapper form .pass{
    width: 100%;
}

.wrapper form .pass a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover{
    text-decoration: underline;
}

.wrapper form .button button{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}

form .button button:hover{
    background: #12876f;
}

form .signup-link a:hover{
    text-decoration: underline;
}

.form-check-input {
    width: auto !important;
}

.form-help-links a{
    text-align: right;
    color: #16a085;
    text-decoration: none;
}
.form-help-links a:hover {
    text-decoration: underline;
}

.text-danger{
    color: red;
}

#cookieConsent {
    display: flex;
    align-items: center;
    background-color: rgba(13, 11, 34, 0.70);
    color: #ccc;
    padding: 8px 0 8px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.accept-policy {
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    border-radius: 5px;
}
